/* Daqui para baixo para o usuário */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    word-break: break-word;
}

body div {
    margin: 0;
    padding: 0;
}
 
fieldset {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 10px;
    background-color: #fff;
    
}
legend {
    font-weight: bold;
    color: #007bff;
}
label {
    margin-right: 10px;
    color: #555;
}
button {
    margin-top: 10px;
    margin-bottom: 17px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.descricao {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#clean {
    position: absolute;
    top: 0;
    right: 0;
}

#nomePaciente {
    margin-left: 1.5%;
}
#nPaciente {
    margin-left: 1.5%;
}
#nomeProfissional {
    margin-left: 1.5%;
}
#nProfissional {
    margin-left: 1.5%;
}
#dataAtual{
    margin-left: 1.5%;
}
#dAtual {
    margin-left: 1.5%;
}

/* Configurações de título para evitar conflito entre classes */
#titulo_principal{
    margin-left: 1.5%;
    font-size: 28pt;

}
.Titulo_user {
    margin-top: 1.5%;
    font-size: 28pt;
    text-align: center;
    color: #333;
}
/* Daqui para baixo é para o pdf */
#data_pdf {
    /*text-align: right;*/
    margin-top: 0;
    margin-right: 0;
    float: right;
}
.logo_pdf_container {
    position: absolute;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%; /* or set a specific width */
    height: 100%; /* or set a specific height */
    text-align: center;
  }
  
.logo_pdf_container img {
    max-width: 100%;
    max-height: 100%;
    /*margin: 0 auto;*/
}

.logo_user_container {
    /*position: absolute;
    margin-top: 15%;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%; /* or set a specific width */
    height: 100%; /* or set a specific height */
    text-align: center;
  }
  
.logo_user_container img {
    max-width: 100%;
    max-height: 100%;
    /*margin: 0 auto;*/
}
 
.Nome_pdf_container {
    margin-top: 75%;
}
.Nome_pdf {
    text-align: justify;
    font-family: Arial, sans-serif;
    margin-left: 10px;
    padding: 0;
    margin-bottom: 20px;
    word-break: break-word;
}
.Titulo {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    padding: 0;
    margin-bottom: 30px;
    word-break: break-word;
}

#div-ULTRA {
    flex-direction: column;
    flex-wrap: nowrap;
}
 
.Pergunta {
    text-align: justify;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    padding: 0;
    margin-bottom: 20px;
    word-break: break-word;
}
.Pergunta_sub {
    text-align: justify;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 17px;
    padding: 0;
    margin-bottom: 20px;
    word-break: break-word;
}
.Resposta {
    text-align: justify;
    font-family: Arial, sans-serif;
    margin-left: 10px;
    padding: 0;
    margin-bottom: 20px;
    word-break: break-word;
}
.Resposta_sub {
    text-align: justify;
    font-family: Arial, sans-serif;
    margin-left: 17px;
    padding: 0;
    margin-bottom: 20px;
    word-break: break-word;
}

.grupo-pergunta-resposta {
    display: flex;
    flex-direction: column;
    page-break-inside: avoid;
    break-inside: avoid;

}

.Questionarios {
    text-align: justify;
    font-family: Arial, sans-serif;
    margin-left: 10px;
    padding: 0;
    margin-bottom: 20px;
    word-break: break-word;
}

.Capa_pdf {
    padding: 20px;
}

.Nova_pagina {
    page-break-before: always;
    clear: both;
}

.Grupo_div:not(:first-of-type) {
    page-break-before: always;
}

.nao-respondido {
    color: red;
    font-weight: bold;
}
